<p>contactus works!</p>
<!--
<a routerLink="[{ outlets: { contactus: ['address'] } }]">address</a>
<a routerLink="[{ outlets: { contactus: ['phone'] } }]" style="margin-left: 1rem;">phone</a>
-->
<a routerLink="/home">home</a>
<a [routerLink]="[{outlets:{contactus: ['address']}}]" style="margin-left: 1rem;">address</a>
<a [routerLink]="[{outlets:{contactus: ['phone']}}]" style="margin-left: 1rem;">phone</a>
<a routerLink="address" style="margin-left: 1rem;">address</a>
<a routerLink="phone" style="margin-left: 1rem;">phone</a>
<router-outlet></router-outlet>

